@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.toggle {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background: #000 url(images/menu.png);
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 1000;
}

.toggle.active {
  background: #000 url(images/close.png);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

section {
  padding: 100px;
  min-height: 100vh;
}

.banner {
  width: 100%;
  position: relative;
  min-height: 100vh;
}

.banner .imgSidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 100%;
}

.banner .imgSidebar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner .content,
.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 500px);
  height: 100%;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 991px) {
  .banner .imgSidebar img {
    display: none;
  }

  .banner .content,
  .sidebar {
    width: 100%;
    padding: 40px;
  }
}

.logoText {
  position: absolute;
  top: 40px;
  left: 100px;
  font-size: 1.2em;
  text-transform: uppercase;
  background: #000;
  color: #fff;
  padding: 0 5px;
  letter-spacing: 1px;
}

@media (max-width: 991px) {
  .logoText {
    left: 40px;
  }
}

.banner .content h4 {
  font-size: 1.5em;
  color: #333;
  font-weight: 300;
}

.banner .content h4 span {
  color: #00bcd4;
  font-size: 1.5em;
  font-weight: 700;
}

.banner .content h2 {
  font-size: 3em;
  color: #333;
  line-height: 1em;
}

.banner .content p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 300;
}

.btn {
  background: #00bcd4;
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 2px;
}

div.sidebar.active {
  right: 0;
}

div.sidebar {
  position: fixed;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  z-index: 100;
  padding: 40px;
  right: -100%;
}

div.sidebar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.sidebar ul li {
  list-style: none;
}

div.sidebar ul li a {
  color: #fff;
  font-size: 2em;
  text-decoration: none;
  margin: 10px 0;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

div.sidebar ul li a:hover {
  color: #00bcd4;
}

.sci {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 100px;
  bottom: 20px;
}

.sci li {
  list-style: none;
  margin-right: 10px;
}

.sci li img {
  transform: scale(0.5);
  opacity: 0.7;
  width: 60px;
  height: 60px;
}

.sci li img:hover {
  opacity: 1;
}

section.about {
  background: #000;
  padding: 100px;
  min-height: 100vh;
}

div.title {
  width: 100%;
  text-align: center;
}

div.title h2 {
  position: relative;
  color: #00bcd4;
  font-size: 1.8em;
  font-weight: 700;
  letter-spacing: 1px;
}

.title.white h2,
.title.white p {
  color: #fff;
}

.title.white h2:before {
  background: #fff;
}

div.title p {
  max-width: 700px;
  margin-top: 15px;
  display: inline-block;
}

div.title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -5px;
  width: 60px;
  height: 3px;
  background: #000;
}

div.about-content {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

div.text {
  width: 49%;
  min-width: 49%;
}

div.text p {
  color: #fff;
}

div.text-img {
  margin-left: 20px;
}

div.text-img img {
  max-width: 100%;
}

section.projects .project-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

div.project-content {
  margin-top: 20px;
}

section.projects .project-content .projects {
  position: relative;
  width: 265px;
  height: 265px;
  margin: 10px;
  transition: 0.5s;
  text-align: center;
}

section.projects .project-content .projects .project-img,
section.projects .project-content .projects .img-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.projects .project-content .projects .project-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.projects .project-content .projects .img-text {
  background: #000;
  opacity: 0;
  transition: 0.5s;
}

section.projects .project-content .projects:hover .img-text {
  opacity: 1;
}

section.projects .project-content .projects .img-text h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
}

section.contact {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section.contact .contactForm {
  position: relative;
  /* width: 70px; */
  margin-top: 20px;
}

section.contact .contactForm .row {
  width: 100%;
  display: flex;
}

section.contact .contactForm .row .col50 {
  width: 50%;
  margin: 10px;
}

section.contact .contactForm .row .col100 {
  width: 100%;
  margin: 10px;
  text-align: center;
}

.contact .contactForm .row input,
.contact .contactForm .row textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background: #111;
  color: #fff;
  font-size: 16px;
  resize: none;
}

.contact .contactForm .row input[type="submit"] {
  background: #00bcd4;
  color: #fff;
  padding: 10px 30px;
  font-weight: 500;
  display: inline-block;
  letter-spacing: 2px;
  cursor: pointer;
  max-width: 150px;
}

.contact .contactForm .row textarea {
  height: 100px;
}

div.copyright {
  color: #fff;
  background: #111;
  text-align: center;
  padding: 10px;
}

div.copyright p {
  font-size: 16px;
  margin: 0;
}

@media (max-width: 991px) {
  .toggle {
    right: 40px;
  }

  .sci {
    left: 40px;
  }

  section.about {
    padding: 40px;
  }

  .about .about-content {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .about .about-content .text {
    width: 100%;
    min-width: 100%;
  }

  div.title p {
    font-size: 15px;
    margin-bottom: 10px;
  }

  div.text-img {
    margin-left: 0;
    margin-top: 10px;
  }

  .contact .contactForm {
    width: 100%;
  }

  .contactForm .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  section.contact .contactForm .row .col50 {
    width: 100%;
    margin: 10px;
  }

  div.sidebar ul li a {
    font-size: 1.5em;
  }
}

@media (max-width: 500px) {
  section.projects .project-content .projects {
    padding: 30px 20px;
    max-width: 100%;
    width: 100%;
    margin: 10px 0;
  }
}
